In [51]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB

In [52]:
df = pd.read_json("Sarcasm_v2.json", lines=True)
df.head()

,is_sarcastic,headline,article_link
0,1,thirtysomething scientists unveil doomsday clo...,https://www.theonion.com/thirtysomething-scien...
1,0,dem rep. totally nails why congress is falling...,https://www.huffingtonpost.com/entry/donna-edw...
2,0,eat your veggies: 9 deliciously different recipes,https://www.huffingtonpost.com/entry/eat-your-...
3,1,inclement weather prevents liar from getting t...,https://local.theonion.com/inclement-weather-p...
4,1,mother comes pretty close to using word 'strea...,https://www.theonion.com/mother-comes-pretty-c...

In [53]:
df["headline"].value_counts()

'no way to prevent this,' says only nation where this regularly happens    12
sunday roundup                                                             10
the 20 funniest tweets from women this week                                10
the funniest tweets from parents this week                                  6
report: make it stop                                                        4
                                                                           ..
palm tree in hurricane irma's path ready to bend real good for cameras      1
man lived alongside dead father's body for four months                      1
obama family adopts 44-year-old portuguese water man                        1
we need to treat gun violence like a public health problem                  1
dad clarifies this not a food stop                                          1
Name: headline, Length: 28503, dtype: int64

In [54]:
df = df[["headline", "is_sarcastic"]]
df. sample(20)

                                                headline  is_sarcastic
4285          when hiring, what problems should i avoid?             0
5383   imf chief lagarde found guilty in french tycoo...             0
1886   study: best method of finding job still excite...             1
6004                  get chic this upcoming fall season             0
17375  what it's like to date an older man at 17, the...             0
9854   on 'conan,' trump calls obama for valentine's ...             0
17016  child boosted on shoulders for better view of ...             1
11820        air india now offers business caste seating             1
6117   ken burns completes documentary about fucking ...             1
8318   gender of person in ronald mcdonald costume un...             1
20213  nick offerman rsvps to wedding in very ron swa...             0
5214   financial analysts offer to talk about recessi...             1
13574              praise the lord or praise the person?             0
22733  nation's sane people to nation's insane people...             1
22243                    somebody give this kid a trophy             0
3436         why tommy chong is fired up about marijuana             0
9140      kate middleton suffering from morning sickness             1
12872  key georgia democrat switches from clinton to ...             0
4148   this app cuts off your access to work emails a...             0
11614              cuomo makes surprise afghanistan trip             0

In [39]:
df["is_sarcastic"] = df["is_sarcastic"].map({0 : "Not Sarcastic", 1 : "Sarcastic"})
df.head()

,is_sarcastic,headline,article_link
0,Sarcastic,thirtysomething scientists unveil doomsday clo...,https://www.theonion.com/thirtysomething-scien...
1,Not Sarcastic,dem rep. totally nails why congress is falling...,https://www.huffingtonpost.com/entry/donna-edw...
2,Not Sarcastic,eat your veggies: 9 deliciously different recipes,https://www.huffingtonpost.com/entry/eat-your-...
3,Sarcastic,inclement weather prevents liar from getting t...,https://local.theonion.com/inclement-weather-p...
4,Sarcastic,mother comes pretty close to using word 'strea...,https://www.theonion.com/mother-comes-pretty-c...

In [40]:
df = df[["headline", "is_sarcastic"]]



X = np.array(df["headline"])
y = np.array(df["is_sarcastic"])

cv = CountVectorizer()
X = cv.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=42)

In [41]:
model = BernoulliNB()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8511530398322851

In [57]:
user = input("Enter a Text: ")
df = cv.transform([user]).toarray()
output = model.predict(df)
print(output)

['Sarcastic']